<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JusFLIP</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/jusflip_store.css' %}"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#search-bar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: xx-large;">JusFlip</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="search-bar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="" role="button" data-toggle="collapse" href="#filter-menu"
                       aria-expanded="false" aria-controls="collapseExample"
                       style="padding-top: 8px;padding-bottom: 10px;font-size: xx-large;">
                        <span class="glyphicon glyphicon-filter"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row-fluid collapse" id="filter-menu">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filter-category-menu"
                           aria-expanded="true" aria-controls="collapseOne">
                            Category
                        </a>
                    </h4>
                </div>
                <div id="filter-category-menu" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#filter-brand-menu" aria-expanded="false" aria-controls="collapseTwo">
                            Brand
                        </a>
                    </h4>
                </div>
                <div id="filter-brand-menu" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingTwo">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#filter-price-menu" aria-expanded="false" aria-controls="collapseThree">
                            Price
                        </a>
                    </h4>
                </div>
                <div id="filter-price-menu" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row-fluid">
                            <span class="filter-option">
                                <input data-type="price" hidden type="checkbox" value="0-500" id="price_0">
                                <label class="label label-default" for="price_0"> &lt; Rs.500 </label>
                            </span>
                            <span class="filter-option">
                                <input data-type="price" hidden type="checkbox" value="500-1000"
                                       id="price_1">
                                <label class="label label-default" for="price_1"> Rs.500 to Rs.1000 </label>
                            </span>
                            <span class="filter-option">
                                <input data-type="price" hidden type="checkbox" value="1000-2000"
                                       id="price_2">
                                <label class="label label-default" for="price_2"> Rs.1000 to Rs.2000 </label>
                            </span>
                            <span class="filter-option">
                                <input data-type="price" hidden type="checkbox" value="2000-5000"
                                       id="price_3">
                                <label class="label label-default" for="price_3"> Rs.2000 to Rs.5000 </label>
                            </span>
                            <span class="filter-option">
                                <input data-type="price" hidden type="checkbox" value="5000-9999999"
                                       id="price_4">
                                <label class="label label-default" for="price_4"> &gt; Rs.5000 </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="product-container">
        {% for product in products %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="product">
                <center><span class="title" title="{{product.title}}">{{product.title | slice:":25"}}</span>
                </center>
                <img class="img-responsive" src="{{product.thumbnail}}">
                {%if product.stock != "In Stock" %}
                <div class="label label-danger out-of-stock">
                    <span>Sold Out</span>
                </div>
                {% endif %}
                <div style="margin-top:10px;">
                    <center>
                        <strike style="color:#878787">Rs.{{product.mrp}}</strike>
                        <span style="font-style:bold; font-size:100%" class="label label-success">Rs.{{product.available_price}}</span>
                        <span style="font-size:85%">{{product.discount}}% off</span>
                    </center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<nav aria-label="...">
    <ul class="pager">
        <li><a id="page-previous" class="page-btn" href="#">Previous</a></li>
        <li><a id="page-next" class="page-btn" href="#">Next</a></li>
    </ul>
</nav>
<script src="{% static 'store/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'store/js/mustache.js' %}" type="text/javascript"></script>
<script src="{% static 'store/bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'store/js/jusflip-store.js' %}" type="text/javascript"></script>
</body>
</html>